@import "src/styles";

:host {
  display: block;
  height: 100%;
}

.experience-card {
  position: relative;
  background-color: $lightBackground1;
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  border-radius: 10px;
  border: 1px solid $lightBorder1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.experience-card-dark {
  position: relative;
  background-color: $darkBackground;
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  border-radius: 10px;
  border: 1px solid $lightBorder1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.experience-card:hover {
  box-shadow: $lightBoxShadowDark 0px 20px 30px -10px;
}

.experience-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
  background: $experienceCardBannerLG;
  border-radius: 10px 10px 0px 0px;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  height: 6rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.experience-blurred_div {
  position: absolute;
  background: $experienceCardBlurredDivLG;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  height: 11rem;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.experience-div-company {
  position: absolute;
  background: transparent;
  height: 6rem;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.experience-text-company {
  text-align: center;
  padding: 1rem;
  margin: 0;
  color: $lightBackground1;
  font-size: 25px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
}

.experience-roundedimg {
  position: absolute;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 7rem;
  margin-left: auto;
  margin-right: auto;
  width: 8rem;
  height: 8rem;
  box-shadow: 0 0.5rem 1rem $lightBoxShadowDarker;
  border-radius: 50%;
}

.experience-text-role {
  text-align: center;
  color: $textColor;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0px;
  padding-top: 1.5rem;
  line-height: normal;
}

.dark-mode-text {
  color: $textColorDark !important;
}

.experience-text-date {
  text-align: center;
  color: $textColor;
  font-size: 20px;
  margin: 0px;
  padding-top: 1rem;
  font-weight: 600;
}

.experience-text-desc {
  margin-top: 10px;
  text-align: center;
}

.experience-text-details {
  padding: 1rem;
  /*margin-top: 2rem;*/
}

.subText {
  color: $lightBackground1;
  font-size: 0.7em;
  font-style: italic;
}

/* Media Query */

@media (max-width: 1380px) {
  .experience-text-role {
    padding-top: 0.5rem;
    font-size: 1.2em;
  }

  .experience-text-company {
    padding-bottom: 1px;
    font-size: 22px;
  }

  .experience-text-date {
    font-size: 18px;
  }

  .experience-roundedimg {
    width: 6.5rem;
    height: 6.5rem;
  }
}

@media (max-width: 768px) {
  .experience-text-role {
    font-size: 1.2em;
  }

  .experience-text-company {
    padding-bottom: 1px;
    font-size: 22px;
  }

  .experience-text-date {
    font-size: 18px;
  }

  .experience-text-desc {
    font-size: 16px;
  }
}

.project-header {
  width: 100%;
}

.project-title-container {
  padding: 1.5rem 1rem 1rem 1rem;
  text-align: center;
}

.project-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.download-link {
  color: $buttonColor;
  font-size: 1.2rem;
  transition: transform 0.2s ease;

  &:hover {
    color: $buttonHover;
    transform: scale(1.1);
  }
}

.project-company {
  font-size: 16px;
  color: $subTitle;
  margin: 8px 0 0 0;
}

.project-image-wrapper {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top: 1px solid $lightBorder1;
  border-bottom: 1px solid $lightBorder1;
}

.project-image {
  max-width: 100%;
  max-height: 120px;
  height: auto;
  width: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .project-title {
    font-size: 20px;
  }

  .project-image-wrapper {
    padding: 0.5rem 0;
  }
}